root = true

[*]
end_of_line = lf
ij_continuation_indent_size = 4
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.kt,*.kts}]
ktfmt_trailing_comma_management_strategy = only_add
